{% extends "dsa_app/base.html" %}
{% block title %} Create Question {% endblock %}
{% block content %}

{% for solution in solutions %}
<div class="mt-5 p-2" style="background:#eee; width: 60%; margin: 0 auto;">
    @{{ solution.user }}<h4 class="font-monospace">{{ solution.question.name }}</h4>
     <a href="{{ solution.solution_file.url }}" class="font-monospace">Download Solution</a>
    <hr>
    {% if solution.description %}
    <p class="font-monospace">{{ solution.description }}</p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}