{% extends "dsa_app/base.html" %}
{% block title %} Solve and share with your friends! {% endblock %}
{% block content %}
{% load static %}

<div class="px-4 py-5" style="background-color:#e5e7eb">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'images/temp.jpeg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold">QODE, Solve and Share</h1>
            <p class="lead mb-4">Solve the problems curated by experts with proper video explanations and solutions!</p>
            <small class="font-monospace">This covers Arrays, Strings, Sorting & Searching LinkedList, STack, Queue, DP, Greedy, Backtracking, Trees, Graphs and more adding.</small>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
             <a href="{% url 'practice' %}" class="btn btn-primary btn-sm px-4 gap-3 font-monospace">Practice sheet</a>
            <a href="{% url 'sheets' %}" class="btn btn-outline-secondary btn-sm px-4 font-monospace">Fellow Coders</a>
            </div>
        </div>
    </div>
</div>

<!--<div class="w3-center mt-5 mb-5" style="width:80%; margin: 0 auto;">-->
<!--    <h1 class="font-monospace mb-3">a 1 minute Introduction</h1>-->
<!--    <hr>-->
<!--    <iframe src="https://www.youtube.com/embed/x0At8E6ANno" frameborder="0"-->
<!--            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen-->
<!--            style="width:100%;height:500px;"></iframe>-->
<!--</div>-->

<div class="px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/solve.png' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Hi! this is aman</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">I have taken help of various platforms and seniors who are developers and curated this sheet with help. This consists of
            all important conceptual problems in structured manner from array string to dp greedy and even trees, graphs are covered
            with solutions + you can also do sheets of other developers by going here
             <a href="{% url 'sheets' %}" class="font-monospace">Fellow Coders</a>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm px-4 gap-3 font-monospace">chal phodte hai!</a>

        </div>
    </div>
</div>


{% endblock %}