{% extends "dsa_app/base.html" %}
{% block title %} Connect with Developers all around the world. {% endblock %}
{% block content %}
{% load static %}
<div class="px-4 py-5 text-center" style="background-color:#e5e7eb">
    <img class="d-block mx-auto mb-4" src="{% static 'images/solve.png' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">QODE, Solve and Share</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Solve the curated problems required to crack companies and watch your friends around!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm px-4 gap-3 font-monospace">login</a>
            <a href="{% url 'sheets' %}" class="btn btn-outline-secondary btn-sm px-4 font-monospace">practice</a>
        </div>
    </div>
</div>


<div class="problems mt-5 mb-3">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    What is QODE
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                        <p class="font-monospace">QODE - a community where people share their sheets their experiences of becoming a developer, their talent and most importantly
                            their gained knowledge. Use QODE as a one stop platform where you can find the curation of the best problems and content!</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sample Questions
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   <div id="Basic" class="w3-container city">
                        {% for b in basic %}
                        <a href="{% url 'question-detail' b.uuid %}" class="font-monospace text-success">
                            <div class="card mt-2">
                                <div class="card-body">
                                    {{ b.name }}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <br>
                    <a href="{% url 'practice' %}">find more</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Coming Soon
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <pre>
                    Soon coming features
                    - Mark completion
                    - Code editor
                    - follow like share
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}