{% extends "dsa_app/base.html" %}
{% block title %} Practice Sheet {% endblock %}
{% block content %}

<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong>Qode hard and relax harder!</strong> new problem being added daily!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="form-outline mt-5" style="width: 80%; margin: 0 auto;">
    <div class="search">
         <form action="{% url 'search-practice' %}">
            <input name="q" class="form-control" placeholder="Search type name, tags?" type="text">
        </form>
    </div>
</div>

<div class="mt-5 container">
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink  w3-white w3-border-bottom" onclick="openCity(event, 'Basic')">Basic</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Easy')">Easy</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Medium')">Medium</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Hard')">Hard</button>
        <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Expert')">Expert</button>
    </div>


    <div id="Basic" class="w3-container city p-5">
        {% for b in basic %}
        <a href="{% url 'question-detail' b.uuid %}" class="font-monospace text-success">
            <div class="card mt-2">
                <div class="card-body">
                    {{ b.name }}
                    <span style="float:right;color:#90EE90">{{ b.level }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div id="Easy" class="w3-container city p-5" style="display:none">
       {% for e in easy %}
        <a href="{% url 'question-detail' e.uuid %}" class="font-monospace text-success">
            <div class="card mt-2">
                <div class="card-body">
                    {{ e.name }}
                    <span style="float:right;color:#65A765">{{ e.level }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div id="Medium" class="w3-container city p-5" style="display:none">
        {% for m in medium %}
        <a href="{% url 'question-detail' m.uuid %}" class="font-monospace text-success">
            <div class="card mt-2">
                <div class="card-body">
                    {{ m.name }}
                    <span style="float:right;color:#fff44f">{{ m.level }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div id="Hard" class="w3-container city p-5" style="display:none">
       {% for h in hard %}
        <a href="{% url 'question-detail' h.uuid %}" class="font-monospace text-success">
            <div class="card mt-2">
                <div class="card-body">
                    {{ h.name }}
                    <span style="float:right;color:#E10600;">{{ h.level }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div id="Expert" class="w3-container city p-5" style="display:none">
        {% for ex in expert %}
        <a href="{% url 'question-detail' ex.uuid %}" class="font-monospace text-success">
            <div class="card mt-2">
                <div class="card-body">
                    {{ ex.name }}
                    <span style="float:right;color:#610300">{{ ex.level }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-white", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-white";
}
</script>
{% endblock %}