{% extends 'dsa_app/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ sheet.name }} {% endblock %}
{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="mt-5 container">
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openCity('Questions')">Questions</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Discuss')">Discuss</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Author')">About Author</button>
        </div>
    <br>
        {% if sheet.user.user == request.user %}
            <a href="{% url 'create-question' %}" class="btn btn-dark">Add Question</a>
            {% else %}
            {% if not enrolled %}
            <a href="{% url 'enroll' sheet.uuid %}" class="btn btn-dark">enroll</a>
            {% else %}
            <a href="{% url 'unenroll' sheet.uuid %}" class="btn btn-dark">Disenroll</a>
            {% endif %}
            {% endif %}
        <div id="Questions" class="w3-container city p-5">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for question in questions %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-success font-monospace"
                                                      href="{{question.question_link}}"
                                                      target="_blank">{{ question.name }}</a> - {{ question.Tag }}</h5>
                            <a class="text-info" href="{{ question.solution_link }}"
                                                    target="_blank">Solution</a>
                            {% if question.sheet.user.user == request.user %}
                            <a href="{% url 'delete-question' question.uuid %}" class="btn btn-danger btn-sm mx-2" style="float:right">Delete</a>
                            <a href="{% url 'update-question' question.uuid %}" class="btn btn-success btn-sm" style="float:right">Update</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>


        <div id="Discuss" class="w3-container city p-5" style="display:none">
            <div class="card">
                <div class="card-body hide">
                    {% include 'dsa_app/comments.html' with url=sheet.uuid %}
                </div>
            </div>
            <div class="message text-center">Use Desktop to comment and view comments!</div>
        </div>
        <div id="Author" class="w3-container city p-5" style="display:none">
            <div class="row py-5 px-4" style="width:100%;">
                <div class="col-md-5 mx-auto"> <!-- Profile widget -->
                    <div class="bg-white shadow rounded overflow-hidden">
                        <div class="px-4 pt-0 pb-4 cover">
                            <div class="media align-items-end profile-head">
                                <div class="profile mr-3"><img
                                        src="{{ profile.profile_picture.url }}"
                                        alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                    <!--                        <a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>-->
                                </div>
                                <!--                    <div class="media-body mb-5 text-white"><h4 class="mt-0 mb-0">Mark Williams</h4>-->
                                <!--                        <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>New York</p></div>-->
                            </div>
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="mt-5">@{{ profile.user }}</h5>
                            {% if profile.name %}
                            <p>{{ profile.name }}</p>
                            {% endif %}

                            {% if profile.profession %}
                            <div class="p-4 rounded shadow-sm bg-light"><p class="font-italic mb-0">{{ profile.profession }}</p>
                                {% endif %}
                                {% if profile.location %}
                                <p class="font-italic">{{ profile.location }}</p>
                                {% endif %}
                                {% if profile.about_yourself %}
                                <p class="font-italic">{{ profile.about_yourself }}</p>
                                {% endif %}
                            </div>
                        </div>
                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0 mx-auto">
                            {% if profile.linkedin_link %}
                            <li class="list-inline-item"><i class="fab fa-linkedin fa-lg" style="color: #3b5998;"></i>
                                <a href="{{ profile.linkedin_link }}" target="_blank" class="mb-0">linkedin</a></li>
                            {% endif %}
                            {% if profile.instagram_link %}
                            <li class="list-inline-item"><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <a href="{{ profile.instagram_link  }}" target="_blank" class="mb-0">insta</a></li>
                            {% endif %}
                            {% if profile.github_link %}
                            <li class="list-inline-item"><i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <a href="{{ profile.github_link }}" class="mb-0" target="_blank">github</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function openCity(cityName) {
      var i;
      var x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      document.getElementById(cityName).style.display = "block";
    }


    </script>


    {% endblock %}